# Project: FBI Gun Data Deep Dive

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

#### <a id='intro'></a>
## Introduction

> In this project we will be analyzing the United States's gun ownership data. Specifically we will be looking for trends among citizens who own guns, and how they differ from citizens who do not.

### Some Questions:

* What is the estimated number of gun registrations by civilians per capita by state in 2010 and 2016?
* Which states have had the most gun registrations in 2010 and 2016?
* What is the average number of owned guns per state in 2010 and 2016?
* What was the most purchased type of gun in 2010?
* What was the most purchased type of gun in 2016?
* Which states have the lowest average of gun registrations in 2010 and 2016?

#### Project Goals
>* Ask questions
>* Clean FBI-gun data and census data (FBI-data and census-data need to match their data together before merging)
>* Merge both FBI-gun data and census data altogether
>* Answers the questions
>* Visualize the combined FBI-gun data and census data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
gun = pd.read_csv('gun_data.csv')
cen = pd.read_csv('U.S. Census Data.csv')

### Cleaning the Data pt. 1 (Gun Data)

In [3]:
gun.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506

In [4]:
gun.shape

(12485, 27)

In [5]:
gun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      12485 non-null  object
 1   state                      12485 non-null  object
 2   permit                     12461 non-null  float64
 3   permit_recheck             1100 non-null   float64
 4   handgun                    12465 non-null  float64
 5   long_gun                   12466 non-null  float64
 6   other                      5500 non-null   float64
 7   multiple                   12485 non-null  int64
 8   admin                      12462 non-null  float64
 9   prepawn_handgun            10542 non-null  float64
 10  prepawn_long_gun           10540 non-null  float64
 11  prepawn_other              5115 non-null   float64
 12  redemption_handgun         10545 non-null  float64
 13  redemption_long_gun        10544 non-null  float64
 14  redemption_other           5115 non-null   float64
 15  returned_handgun           2200 non-null   float64
 16  returned_long_gun          2145 non-null   float64
 17  returned_other             1815 non-null   float64
 18  rentals_handgun            990 non-null    float64
 19  rentals_long_gun           825 non-null    float64
 20  private_sale_handgun       2750 non-null   float64
 21  private_sale_long_gun      2750 non-null   float64
 22  private_sale_other         2750 non-null   float64
 23  return_to_seller_handgun   2475 non-null   float64
 24  return_to_seller_long_gun  2750 non-null   float64
 25  return_to_seller_other     2255 non-null   float64
 26  totals                     12485 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.6+ MB

In [6]:
gun.describe()

,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,prepawn_long_gun,prepawn_other,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
count,12461.000000,1100.000000,12465.000000,12466.000000,5500.000000,12485.000000,12462.000000,10542.000000,10540.000000,5115.000000,...,1815.000000,990.000000,825.000000,2750.000000,2750.000000,2750.000000,2475.000000,2750.000000,2255.000000,12485.000000
mean,6413.629404,1165.956364,5940.881107,7810.847585,360.471636,268.603364,58.898090,4.828021,7.834156,0.165591,...,1.027548,0.076768,0.087273,14.936000,11.602909,1.030182,0.402020,0.441818,0.105987,21595.725911
std,23752.338269,9224.200609,8618.584060,9309.846140,1349.478273,783.185073,604.814818,10.907756,16.468028,1.057105,...,4.386296,0.634503,0.671649,71.216021,54.253090,4.467843,1.446568,1.528223,0.427363,32591.418387
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,865.000000,2078.250000,17.000000,15.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4638.000000
50%,518.000000,0.000000,3059.000000,5122.000000,121.000000,125.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12399.000000
75%,4272.000000,0.000000,7280.000000,10380.750000,354.000000,301.000000,0.000000,5.000000,8.000000,0.000000,...,0.000000,0.000000,0.000000,2.000000,4.000000,0.000000,0.000000,0.000000,0.000000,25453.000000
max,522188.000000,116681.000000,107224.000000,108058.000000,77929.000000,38907.000000,28083.000000,164.000000,269.000000,49.000000,...,64.000000,12.000000,12.000000,1017.000000,777.000000,71.000000,28.000000,17.000000,4.000000,541978.000000

In [7]:
gun.columns.values

array(['month', 'state', 'permit', 'permit_recheck', 'handgun',
       'long_gun', 'other', 'multiple', 'admin', 'prepawn_handgun',
       'prepawn_long_gun', 'prepawn_other', 'redemption_handgun',
       'redemption_long_gun', 'redemption_other', 'returned_handgun',
       'returned_long_gun', 'returned_other', 'rentals_handgun',
       'rentals_long_gun', 'private_sale_handgun',
       'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other', 'totals'], dtype=object)

In [8]:
gun = gun[gun.state != 'Guam']
gun = gun[gun.state != 'Puerto Rico']
gun = gun[gun.state != 'District of Columbia']
gun = gun[gun.state != 'Virgin Islands']
gun = gun[gun.state != 'Mariana Islands']

In [9]:
gun_capita = gun.drop([ 'permit', 'permit_recheck', 'handgun',
       'long_gun', 'other', 'multiple', 'admin', 'prepawn_handgun',
       'prepawn_long_gun', 'prepawn_other', 'redemption_handgun',
       'redemption_long_gun', 'redemption_other', 'returned_handgun',
       'returned_long_gun', 'returned_other', 'rentals_handgun',
       'rentals_long_gun', 'private_sale_handgun',
       'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other'], axis = 1)

In [10]:
gun_capita.head()

     month       state  totals
0  2017-09     Alabama   32019
1  2017-09      Alaska    6303
2  2017-09     Arizona   28394
3  2017-09    Arkansas   17747
4  2017-09  California  123506

In [11]:
gun_capita['month'] = pd.to_datetime(gun['month'])

In [12]:
gun_capita.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11350 entries, 0 to 12484
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   month   11350 non-null  datetime64[ns]
 1   state   11350 non-null  object
 2   totals  11350 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 354.7+ KB

In [13]:
gun10 = gun_capita[gun_capita['month'] == '2010-04-01']
gun10.head(5)

          month       state  totals
4895 2010-04-01     Alabama   20791
4896 2010-04-01      Alaska    6411
4897 2010-04-01     Arizona   16578
4898 2010-04-01    Arkansas   14563
4899 2010-04-01  California   80750

In [14]:
gun10.describe()

            totals
count      50.0000
mean    24517.7400
std     34280.1673
min       963.0000
25%      7197.5000
50%     15242.5000
75%     26335.5000
max    211261.0000

In [15]:
gun16 = gun_capita[gun_capita['month'] == '2016-07-01']
gun16.head(5)

         month       state  totals
770 2016-07-01     Alabama   48927
771 2016-07-01      Alaska    6793
772 2016-07-01     Arizona   34496
773 2016-07-01    Arkansas   19378
774 2016-07-01  California  190218

In [16]:
gun16.describe()

              totals
count      50.000000
mean    43710.400000
std     61544.999748
min      1565.000000
25%     11823.000000
50%     25379.500000
75%     46008.500000
max    363085.000000

In [17]:
concat_gun = pd.concat([gun10, gun16], keys = ['2010-04-01', '2016-07-01'], axis = 0)
concat_gun.head()

                     month       state  totals
2010-04-01 4895 2010-04-01     Alabama   20791
           4896 2010-04-01      Alaska    6411
           4897 2010-04-01     Arizona   16578
           4898 2010-04-01    Arkansas   14563
           4899 2010-04-01  California   80750

In [18]:
concat_gun.reset_index(drop = True, inplace = True)

In [19]:
concat_gun.tail(5)

        month          state  totals
95 2016-07-01       Virginia   43574
96 2016-07-01     Washington   47887
97 2016-07-01  West Virginia   16791
98 2016-07-01      Wisconsin   38922
99 2016-07-01        Wyoming    4585

In [20]:
concat_gun.head(5)

       month       state  totals
0 2010-04-01     Alabama   20791
1 2010-04-01      Alaska    6411
2 2010-04-01     Arizona   16578
3 2010-04-01    Arkansas   14563
4 2010-04-01  California   80750

### Cleaning the Data pt. 2 (US Census Data)

In [21]:
cen.head()

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

In [22]:
cen = cen.drop(cen.index[65: 85]).reset_index()

In [23]:
cen = cen.drop(['Fact Note'], axis = 1)

In [24]:
cen = cen.fillna(0.0)

In [25]:
cen.set_index('Fact', inplace = True)
cen = cen.T.reset_index()

In [26]:
cen.head()

Fact,index,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010",FIPS Code
0,index,0,1,2,3,4,5,6,7,8,...,55,56,57,58,59,60,61,62,63,64
1,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,"374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33","""01"""
2,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,"68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95","""02"""
3,Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,...,"499,926","245,243","182,425","135,313","344,981","46,780","427,582",56.3,"113,594.08","""04"""
4,Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,...,"231,959","123,158","75,962","35,982","189,029","25,915","192,988",56,"52,035.48","""05"""

In [27]:
cen.rename(columns = {'index' : 'State'}, inplace = True)

In [28]:
cen.head()

Fact,State,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010",FIPS Code
0,index,0,1,2,3,4,5,6,7,8,...,55,56,57,58,59,60,61,62,63,64
1,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,"374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33","""01"""
2,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,"68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95","""02"""
3,Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,...,"499,926","245,243","182,425","135,313","344,981","46,780","427,582",56.3,"113,594.08","""04"""
4,Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,...,"231,959","123,158","75,962","35,982","189,029","25,915","192,988",56,"52,035.48","""05"""

In [29]:
cen.rename(columns = {'Population estimates, July 1, 2016,  (V2016)' : 'Population_2016'}, inplace = True)
cen.rename(columns = {'Population estimates base, April 1, 2010,  (V2016)' : 'Population_2010'}, inplace = True)

In [30]:
cen.columns.values

array(['State', 'Population_2016', 'Population_2010',
       'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
       'Population, Census, April 1, 2010',
       'Persons under 5 years, percent, July 1, 2016,  (V2016)',
       'Persons under 5 years, percent, April 1, 2010',
       'Persons under 18 years, percent, July 1, 2016,  (V2016)',
       'Persons under 18 years, percent, April 1, 2010',
       'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
       'Persons 65 years and over, percent, April 1, 2010',
       'Female persons, percent,  July 1, 2016,  (V2016)',
       'Female persons, percent, April 1, 2010',
       'White alone, percent, July 1, 2016,  (V2016)',
       'Black or African American alone, percent, July 1, 2016,  (V2016)',
       'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
       'Asian alone, percent, July 1, 2016,  (V2016)',
       'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
       'Two or More Races, percent, July 1, 2016,  (V2016)',
       'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'Veterans, 2011-2015', 'Foreign born persons, percent, 2011-2015',
       'Housing units,  July 1, 2016,  (V2016)',
       'Housing units, April 1, 2010',
       'Owner-occupied housing unit rate, 2011-2015',
       'Median value of owner-occupied housing units, 2011-2015',
       'Median selected monthly owner costs -with a mortgage, 2011-2015',
       'Median selected monthly owner costs -without a mortgage, 2011-2015',
       'Median gross rent, 2011-2015', 'Building permits, 2016',
       'Households, 2011-2015', 'Persons per household, 2011-2015',
       'Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015',
       'Language other than English spoken at home, percent of persons age 5 years+, 2011-2015',
       'High school graduate or higher, percent of persons age 25 years+, 2011-2015',
       "Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015",
       'With a disability, under age 65 years, percent, 2011-2015',
       'Persons  without health insurance, under age 65 years, percent',
       'In civilian labor force, total, percent of population age 16 years+, 2011-2015',
       'In civilian labor force, female, percent of population age 16 years+, 2011-2015',
       'Total accommodation and food services sales, 2012 ($1,000)',
       'Total health care and social assistance receipts/revenue, 2012 ($1,000)',
       'Total manufacturers shipments, 2012 ($1,000)',
       'Total merchant wholesaler sales, 2012 ($1,000)',
       'Total retail sales, 2012 ($1,000)',
       'Total retail sales per capita, 2012',
       'Mean travel time to work (minutes), workers age 16 years+, 2011-2015',
       'Median household income (in 2015 dollars), 2011-2015',
       'Per capita income in past 12 months (in 2015 dollars), 2011-2015',
       'Persons in poverty, percent',
       'Total employer establishments, 2015', 'Total employment, 2015',
       'Total annual payroll, 2015 ($1,000)',
       'Total employment, percent change, 2014-2015',
       'Total nonemployer establishments, 2015', 'All firms, 2012',
       'Men-owned firms, 2012', 'Women-owned firms, 2012',
       'Minority-owned firms, 2012', 'Nonminority-owned firms, 2012',
       'Veteran-owned firms, 2012', 'Nonveteran-owned firms, 2012',
       'Population per square mile, 2010',
       'Land area in square miles, 2010', 'FIPS Code'], dtype=object)

In [31]:
cen16 = cen[['State', 'Population_2016']]
cen16.head()

Fact     State Population_2016
0        index               0
1      Alabama       4,863,300
2       Alaska         741,894
3      Arizona       6,931,071
4     Arkansas       2,988,248

In [32]:
cen16[((cen16.State != 'index') & (cen16.Population_2016 != 0))]

Fact           State Population_2016
1            Alabama       4,863,300
2             Alaska         741,894
3            Arizona       6,931,071
4           Arkansas       2,988,248
5         California      39,250,017
6           Colorado       5,540,545
7        Connecticut       3,576,452
8           Delaware         952,065
9            Florida      20,612,439
10           Georgia      10,310,371
11            Hawaii       1,428,557
12             Idaho       1,683,140
13          Illinois      12,801,539
14           Indiana       6,633,053
15              Iowa       3,134,693
16            Kansas       2,907,289
17          Kentucky       4,436,974
18         Louisiana       4,681,666
19             Maine       1,331,479
20          Maryland       6,016,447
21     Massachusetts       6,811,779
22          Michigan       9,928,300
23         Minnesota       5,519,952
24       Mississippi       2,988,726
25          Missouri       6,093,000
26           Montana       1,042,520
27          Nebraska       1,907,116
28            Nevada       2,940,058
29     New Hampshire       1,334,795
30        New Jersey       8,944,469
31        New Mexico         2081015
32          New York        19745289
33    North Carolina        10146788
34      North Dakota          757952
35              Ohio        11614373
36          Oklahoma         3923561
37            Oregon         4093465
38      Pennsylvania        12784227
39      Rhode Island         1056426
40    South Carolina         4961119
41      South Dakota          865454
42         Tennessee         6651194
43             Texas      27,862,596
44              Utah       3,051,217
45           Vermont         624,594
46          Virginia       8,411,808
47        Washington       7,288,000
48     West Virginia       1,831,102
49         Wisconsin       5,778,708
50           Wyoming         585,501

In [33]:
cen16['State'] = pd.to_numeric(cen16['State'], downcast = 'float', errors = 'ignore')

<ipython-input-33-951f9c508c7e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cen16['State'] = pd.to_numeric(cen16['State'], downcast = 'float', errors = 'ignore')

In [34]:
cen16['Population_2016'].replace(to_replace= ',', value = r'', regex = True, inplace = True)

C:\Users\kayin\anaconda3\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [35]:
cen16['Population_2016'] = pd.to_numeric(cen16['Population_2016'], downcast = 'float', errors = 'ignore')

<ipython-input-35-16926e6caa17>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cen16['Population_2016'] = pd.to_numeric(cen16['Population_2016'], downcast = 'float', errors = 'ignore')

In [36]:
cen16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   State            51 non-null     object
 1   Population_2016  51 non-null     float32
dtypes: float32(1), object(1)
memory usage: 740.0+ bytes

In [37]:
cen16 = cen16['Population_2016'].sum()
cen16

322446370.0

In [38]:
cen10 = cen[['State', 'Population_2010' ]]
cen10.head()

Fact     State Population_2010
0        index               1
1      Alabama       4,780,131
2       Alaska         710,249
3      Arizona       6,392,301
4     Arkansas       2,916,025

In [39]:
cen10[((cen10.State != 'index') & (cen10.Population_2010 != 1))]

Fact           State Population_2010
1            Alabama       4,780,131
2             Alaska         710,249
3            Arizona       6,392,301
4           Arkansas       2,916,025
5         California      37,254,522
6           Colorado       5,029,324
7        Connecticut       3,574,114
8           Delaware         897,936
9            Florida      18,804,592
10           Georgia       9,688,680
11            Hawaii       1,360,301
12             Idaho       1,567,650
13          Illinois      12,831,574
14           Indiana       6,484,136
15              Iowa       3,046,869
16            Kansas       2,853,129
17          Kentucky       4,339,344
18         Louisiana       4,533,479
19             Maine       1,328,364
20          Maryland       5,773,786
21     Massachusetts       6,547,813
22          Michigan       9,884,129
23         Minnesota       5,303,924
24       Mississippi       2,968,103
25          Missouri       5,988,928
26           Montana         989,414
27          Nebraska       1,826,334
28            Nevada       2,700,691
29     New Hampshire       1,316,461
30        New Jersey       8,791,953
31        New Mexico         2059198
32          New York        19378110
33    North Carolina         9535688
34      North Dakota          672591
35              Ohio        11536727
36          Oklahoma         3751615
37            Oregon         3831072
38      Pennsylvania        12702857
39      Rhode Island         1052940
40    South Carolina         4625410
41      South Dakota          814195
42         Tennessee         6346298
43             Texas      25,146,100
44              Utah       2,763,888
45           Vermont         625,741
46          Virginia       8,001,041
47        Washington       6,724,545
48     West Virginia       1,853,011
49         Wisconsin       5,687,289
50           Wyoming         563,767

In [40]:
cen10['State'] = pd.to_numeric(cen10['State'], downcast = 'float', errors = 'ignore')

<ipython-input-40-02a88bcd6598>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cen10['State'] = pd.to_numeric(cen10['State'], downcast = 'float', errors = 'ignore')

In [41]:
cen10['Population_2010'].replace(to_replace= ',', value = r'', regex = True, inplace = True)

C:\Users\kayin\anaconda3\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [42]:
cen10['Population_2010'] = pd.to_numeric(cen10['Population_2010'], downcast = 'float', errors = 'ignore')

<ipython-input-42-22b2a201cff7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cen10['Population_2010'] = pd.to_numeric(cen10['Population_2010'], downcast = 'float', errors = 'ignore')

In [43]:
cen10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   State            51 non-null     object
 1   Population_2010  51 non-null     float32
dtypes: float32(1), object(1)
memory usage: 740.0+ bytes

In [45]:
cen16.info()

AttributeError: 'numpy.float32' object has no attribute 'info'

In [ ]:
cen10 = cen10['Population_2010'].sum()
cen10